
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
    padding-bottom: 10px;
	background-color:#f4f4f4;
    
}

.container{

	
}

.dark{
	background-color:#35424a;
	color:white;
	
}
.orange{
	background-color:#e8491d ;
	color:white;
}

<<<<<<< HEAD
.contact{	
  font-family:arial,verdana;
  width: 50px;
  background-color:#3333cc;
  color:#fffffffb;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:5px;
  cursor: pointer;
  color:#fffffffb;
}
=======

>>>>>>> 86170042ff8c51d298a64162fe0dda0e256d3a47

th, td {
    padding: 20px;
    border-bottom: 1px solid ;
    text-align: left;
}

 td div{
    border-bottom: 3px solid #fff;;
}

.details{
	border:2px groove #c2c2d6;
	width:35%;
	color:#fffffffb;
	padding:30px;
	margin-left:32%;
	border-radius:5px;
	margin-top:30px;
	margin-bottom:20px;
}



